h1{
    background-color:#33bbcc
    color:red;
    text-align:left;
    font-size:50px;
}
h1.hidden{
    visibility:hidden;
    display:none;
}
li{
    display:inline;
}
span{
    display:block;
}
a{
    /*background-color:sienna;
    color:yellow;*/
}
a.red{
    background-color:blue;
    color:red;
}
a.red:link{color:yellow}
/*a:link {color:yellow;}
a:visited {color:yellow;}*/
#segment{
    font-size:15pt;
}

/* unordered list */
ul.a{list-style:circle;}
ul.b{list-style:square;}
/* ordered list */
ol.c{list-style:number;}
ol.d{list-style:upper-alpha;}

table{
    border-collapse: collapse;
    /*width: 50%;*/
}
table, th, td {
    border: 3px green;
    /*border-top-style: dotted;
    border-bottom-style: solid;
    border-left-style: dashed;
    border-right-style: double;*/
    border-top-style: groove;
    border-bottom-style: solid;
    border-left-style: dashed;
    border-right-style: double;
}
th{
    height: 30px;
}
td,th {
    text-align: center;
    padding: 10px;
}
body{
    /*background-image:url('/image/beautiful-girl-stands-near-walll-with-leaves.jpg');
    background-image:url('https://static.runoob.com/images/mix/gradient2.png');
    background-repeat:repeat-x;
    background-image:url('https://static.runoob.com/images/mix/img_tree.png');
    background-position: right top;
    background-repeat: no-repeat;*/
    background: #668899 url('https://static.runoob.com/images/mix/img_tree.png') no-repeat top right;
    margin:0px;
    overflow: visible;
}

div.ex{
    margin: 0px;
    border: 5px solid black;
    text-align: center;
    padding: 10px;
    width: 220px;
    background-color: yellow;
    color: lightblue;
    overflow:auto;
}
div{
    width: 250px;
    color: yellow;
    overflow:auto;
}
p.pos_fixed{
    position: fixed;
    top: 30px;
    left: 30px;
}
p.pos_static{
    position: static;
    top: 30px;
    right: 30px;
}
p.pos_relative{
    position: relative;
    top: 10px;
    left: 10px;
}
p.pos_absolute{
    position: absolute;
    top: 100px;
    left: 100px;
}
img.float_right{
    width:100px;
    height:100px;
    float:right;
}
img.float_left{
    width:100px;
    height:100px;
    float:left;
}
div+p
{
/* near brother */
  background-color:yellow;
}
div~p{
/* all brothers */
  color:red;
}
div p{
/* generations */
    font-size: 30px;
}